<div class="profile-header">
  <div class="profile-picture">
    <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, alt: "personnal cave", class: "profil-img"%>
      <% else %>
          <%= image_tag('profile-pic.jpg', alt: "profile picture", class: "profil-img") %>
    <% end %>
  </div>
  <div class="profile-name">
    <% if current_user.first_name.present? %>
      <%= current_user.first_name %>
    <% else %>
      <p><%= current_user.email %></p>
    <% end %>
  </div>
  <div class="position-edit-favicon">
    <%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, edit_user_registration_path(current_user), id:"favicon-profile-edit" %>
  </div>
</div>

<div class="list-action">
  <div class="mes-caves">
    <%= link_to "Accedez à vos #{current_user.caves.size} caves.".html_safe, caves_path(current_user), id:"mes-caves-profile" %>
  </div>
  <div class="mon-historique">
    <%= link_to "Accedez à votre historique de vins", history_reviews_path(current_user), id:"vin-historique-profile" %>
  </div>
</div>
<hr>
<div class="alcool">
  <p>L'abus d'alcool est dangereux pour la santé, à consommer avec modération.</p>
</div>

<div class="log-out">
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"sign-out-btn" %>
</div>
