<div class="wine-show-title">
  <h1><%= @wine.name %> - <%= @wine.millesime %></h1>
</div>

<div class="wine-show-card">
  <div class="wine-show-card-description">

      <div class="wine-show-section">
        <h3>CHATEAU</h3>
        <p><%= @wine.castle.name %></p>
      </div>
      <div class="wine-show-section">
        <h3>REGION</h3>
        <p><%= @wine.appelation.region.name %></p>
      </div>

    <div class="wine-show-section">
      <h3>CEPAGES</h3>
      <% @assemblages.each do |assemblage| %>
      <p><%= assemblage.cepage.name %> - <%= assemblage.percentage %>%</p>
      <% end %>
    </div>
    <div class="wine-show-section">
      <h3>ACCORDS METS & VINS</h3>
      <% @pairings.each do |pairing| %>
     <p><%= pairing.meal.icon.html_safe if pairing.meal.icon %> <%= pairing.meal.name %></p>

      <% end %>
    </div>
  </div>
  <div class="wine-image">
    <%= cl_image_tag @wine.photo.key, class: "wine-show-card-img" %>
  </div>
</div>
<div class="wine-show-action">
  <%= link_to "Retirer de ma cave", edit_bottle_path(@bottle), class: "add-wine-to-my-cave-btn" %>
</div>
