<div class="footer">
  <div class="footer-links">
    <%= link_to profile_path(current_user), id:"user-img" do %>
      <%= image_tag("user.svg") %>
    <% end %>
    <%= link_to wines_path, id:"search-logo" do %>
      <%= image_tag("search.svg") %>
    <% end %>
    <%= link_to caves_path, id:"cave-logo" do %>
      <%= image_tag("cave.svg") %>
    <% end %>
    <%= link_to reviews_path, id:"reward-logo" do %>
      <%= image_tag("reward.svg") %>
    <% end %>
  </div>
</div>
