<div class="footer">
  <div class="footer-links">
    <%= link_to profiles_path, id:"user-img", class:"footer-item #{ 'active-item' if current_page?(profiles_path) }"  do %>
      <%= inline_svg_tag("user.svg") %>
    <% end %>
    <%= link_to wines_path, id:"search-logo", class:"footer-item #{ 'active-item' if current_page?(wines_path) }" do %>
      <%= inline_svg_tag("search.svg") %>
    <% end %>
    <%= link_to caves_path, id:"cave-logo", class:"footer-item #{ 'active-item' if current_page?(caves_path) }" do %>
      <%= inline_svg_tag("cave.svg") %>
    <% end %>
    <%= link_to reviews_path, id:"reward-logo", class:"footer-item #{ 'active-item' if current_page?(reviews_path) }" do %>
      <%= inline_svg_tag("reward.svg") %>
    <% end %>
  </div>
</div>
