<div class="footer-home">
  <div class="footer-links">
    <%= link_to profiles_path, id: "user-img-white", class: "footer-item" do %>
      <%= image_tag("user-white.svg") %>
    <% end %>
    <%= link_to wines_path, id: "search-logo-white",  class: "footer-item" do %>
      <%= image_tag("search-white.svg") %>
    <% end %>
    <%= link_to caves_path, id: "cave-logo-white",  class: "footer-item" do %>
      <%= image_tag("cave-white.svg") %>
    <% end %>
    <%= link_to reviews_path, id: "reward-logo-white",  class: "footer-item" do %>
      <%= image_tag("reward-white.svg") %>
    <% end %>
  </div>
</div>
