<%= form_tag cave_path(@cave), class: "filter-bar", method: :get do %>

  <%= select_tag "meal", options_from_collection_for_select(@meals, "id", "name", params[:meal]), :prompt => "Selectionner un plat" , class: "bottles-filter"%>
  <%= select_tag "region", options_from_collection_for_select(@regions, "id", "name", params[:region]), :prompt => "Selectionner une région" , class: "bottles-filter", id: "region-filter"%>
  <%= select_tag "appelation", options_from_collection_for_select(@appelations, "id", "name", params[:appelation]), :prompt => "Selectionner une appelation" , class: "bottles-filter", id: "appelation-filter"%>
  <label class="switch"><p>Apogée</p>
  <input type="checkbox" checked>
  <span class="slider round"></span>
  </label>

  <div class="filter-action">
  <%= submit_tag "Trouvez votre bouteille", class: "add-bottle-btn", data: {turbolinks: "false"} %>
  </div>

<% end %>

<div id="region-value" data-appelations="<%= @appelations.to_json %>">

</div>
