<%= form_tag cave_path(@cave), class: "filter-bar", method: :get do %>

  <%= select_tag "meal", options_from_collection_for_select(@meals, "id", "name"), :prompt => "Selectionner un plat" , class: "bottles-filter"%>
  <%= select_tag "region", options_from_collection_for_select(@regions, "id", "name"), :prompt => "Selectionner une région" , class: "bottles-filter", id: "region-filter"%>
  <%= select_tag "appelation", options_from_collection_for_select(@appelations, "id", "name"), :prompt => "Selectionner une appelation" , class: "bottles-filter", id: "appelation-filter"%>

  <%= submit_tag "Trouvez votre bouteille", class: "filter-btn", data: {turbolinks: "false"} %>

<% end %>

<div id="region-value" data-appelations="<%= @appelations.to_json %>">

</div>
