<%= form_tag cave_path(@cave), class: "filter-bar", method: :get do %>

  <%= select_tag "meal", options_from_collection_for_select(@meals, "id", "name", params[:meal]), :prompt => "Selectionner un plat" , class: "bottles-filter"%>


    <%= select_tag "region", options_from_collection_for_select(@regions, "id", "name", params[:region]), :prompt => "Selectionner une région" , class: "bottles-filter", id: "region-filter"%>
    <%= select_tag "appelation", options_from_collection_for_select(@appelations, "id", "name", params[:appelation]), :prompt => "Selectionner une appelation" , class: "bottles-filter", id: "appelation-filter"%>

  <div class="filter-action">
  <%= link_to '<i class="fas fa-undo-alt"></i>'.html_safe, cave_path(@cave), id: 'reset-filters' %>
  <%= submit_tag "Trouvez votre bouteille", class: "filter-btn", data: {turbolinks: "false"} %>
  </div>

<% end %>

<div id="region-value" data-appelations="<%= @appelations.to_json %>">

</div>
