
<div class="container-cave">

  <div class="current-cave-name">
    <h1><%= @caves.name %> <%= link_to '+', new_cafe_path %></h1>
  </div>
  <% @caves.each do |cave| %>
  <%= link_to cafe_path(cave) do %>
    <div class="cave-card">
        <%= image_tag "https://source.unsplash.com/300x200/?cellar-wine", alt: "personnal cave", class:"card-img" %>
      <div class="card-info">

        <div class="cave-name">
          <h3> <%= cave.name %> </h3>
        </div>

        <div class="card-element">
          <div class="red-bottles-count">
            <%= image_tag('red-bottle.png', alt: "red wine bottle", class:"little-bottle") %>
            <p>14</p>
          </div>

          <div class="rose-bottles-count">
            <%= image_tag('rose-bottle.png', alt: "rose wine bottle", class:"little-bottle") %>
            <p>6</p>
          </div>

          <div class="white-bottles-count">
            <%= image_tag('white-bottle.png', alt: "white wine bottle", class:"little-bottle") %>
            <p>2</p>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  <% end %>

</div>

<!-- if cave.bottle.wine.color.red > 0
  <div class="red-bottles-count">
    <%#= image_tag("red-bottle.svg"), alt: "red wine bottle" %>
    <p>Info 1</p>
  </div>
end
if cave.bottle.wine.color.rose > 0
  <div class="rose-bottles-count">
    <%#= image_tag("rose-bottle.svg"), alt: "rose wine bottle" %>
    <p>Info 1</p>
  </div>
end
if cave.bottle.wine.color.white > 0
  <div class="white-bottles-count">
    <%#= image_tag("white-bottle.svg"), alt: "white wine bottle" %>
    <p>Info 1</p>
  </div>
end -->

