
<div class="container-cave">
  <div class="current-cave-name">
    <h1> Mes caves </h1>
  </div>
  <div class="cave-link">
    <%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_cave_path, id:"favicon-add-cave" %>
  </div>
</div>

<% @caves.each do |cave| %>

  <%= link_to cave_path(cave) do %>
    <div class="cave-card">
      <% if cave.photo.attached? %>
        <%= cl_image_tag cave.photo.key, alt: "personnal cave", class: "card-cave-img"%>
      <% else %>
        <%= image_tag "https://source.unsplash.com/300x200/?cellar-wine", class: "card-cave-img" %>
      <% end %>

      <div class="card-info">

        <div class="cave-name">
          <h3> <%= cave.name %> </h3>
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_cave_path(cave), id:"cave-favicon" %>
        </div>

        <div class="card-element">
          <div class="position-count">
            <div class="red-bottles">
              <%= image_tag('red-bottle.png', alt: "red wine bottle", class:"little-bottle") %>
            </div>
              <div class="count">
                <p>14</p>
              </div>
          </div>

          <div class="position-count">
            <div class="rose-bottles-count">
              <%= image_tag('rose-bottle.png', alt: "rose wine bottle", class:"little-bottle") %>
            </div>
            <div class="count">
              <p>6</p>
            </div>
          </div>

          <div class="position-count">
            <div class="white-bottles-count">
              <%= image_tag('white-bottle.png', alt: "white wine bottle", class:"little-bottle") %>
            </div>
            <div class="count">
              <p>2</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<% end %>

<%#= image_tag "https://source.unsplash.com/300x200/?cellar-wine", alt: "personnal cave", class:"card-img" %>

<!-- if cave.bottle.wine.color.red > 0
  <div class="red-bottles-count">
    <%#= image_tag("red-bottle.svg"), alt: "red wine bottle" %>
    <p>Info 1</p>
  </div>
end
if cave.bottle.wine.color.rose > 0
  <div class="rose-bottles-count">
    <%#= image_tag("rose-bottle.svg"), alt: "rose wine bottle" %>
    <p>Info 1</p>
  </div>
end
if cave.bottle.wine.color.white > 0
  <div class="white-bottles-count">
    <%#= image_tag("white-bottle.svg"), alt: "white wine bottle" %>
    <p>Info 1</p>
  </div>
end -->

