
<div class="container-cave">
  <div class="cave-page-title">
    <h1> Mes caves </h1>
  </div>
  <div class="create-cave-link">
    <%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_cave_path, id:"favicon-add-cave" %>
  </div>
</div>

<% @caves.each do |cave| %>
<div class="card-position-relative-edit-favicon">
  <%= link_to cave_path(cave), class: "cave-index-card-link" do %>

      <% if cave.photo.attached? %>
        <div class="cave-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(cave.photo.key) %>);">
      <% else %>
        <div class="cave-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'cave-index.jpg' %>);">
      <% end %>

      <div class="cave-card-info">
        <div class="cave-name">
          <h3> <%= cave.name %> </h3>
        </div>

        <div class="cave-card-element">

          <% red_count = cave.bottles.joins(:wine).where(wines: {color: 'Rouge'}).sum(:quantity) %>
          <% if red_count > 0 %>
              <div class="red-bottle-count">
                <p><%= red_count %></p>
              </div>
          <% end %>

          <% white_count = cave.bottles.joins(:wine).where(wines: {color: 'Blanc'}).sum(:quantity) %>
          <% if white_count > 0  %>
              <div class="white-bottle-count">
                <p><%= white_count %></p>
              </div>
          <% end %>

          <% pink_count = cave.bottles.joins(:wine).where(wines: {color: 'Rosé'}).sum(:quantity) %>
          <% if pink_count > 0 %>
              <div class="pink-bottle-count">
                <p><%= pink_count %></p>
              </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="cave-position-edit-favicon">
      <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_cave_path(cave), id:"cave-favicon" %>
    </div>

    <div class="card-cave-index-empy">
      <%# if red_count == 0 && pink_count == 0 && white_count == 0 %>
        <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, cave_wines_path(cave), class:"add-bottle-cave" %>
      <%# end %>
    </div>
  </div>
  <% end %>
<% end %>
