<div class="cave-page-title">
  <h1 id="cave-name"><%= @cave.name %></h1>
</div>

<%= form_tag cave_path(@cave), class: "search-bar", method: :get do %>
  <%= select_tag "meal", options_from_collection_for_select(@meals, "id", "name"), include_blank: true , class: "meal-filter"%>
  <%= submit_tag "Chercher!", class: "my-btn search-btn", data: {turbolinks: "false"} %>
<% end %>

<% bottle_count = @cave.bottles.sum(:quantity) %>

<% if !params[:meal].present? && (@redbottles.empty? && @whitebottles.empty? && @pinkbottles.empty?) || bottle_count == 0 %>
  <div class="empty-cave">
    <div class="empty-cave-content">
      <p>Votre cave est vide</p>
      <%= link_to "Ajouter des bouteilles", wines_path, class: 'add-bottle' %>
    </div>
  </div>



<% else %>
  <div class="wine-section-color-red">
    <h1>Mes vins rouges</h1>
    <% if @redbottles.empty? %>
      <p class="no-results">Aucune bouteille de rouge ne correspond à votre recherche !</p>
    <% else %>
      <div class="wine-ribbon">
        <% @redbottles.each do |redbottle| %>
          <div class="red-wine-card">
          <%= render "cave_wine_card", bottle: redbottle %>
        <% end %>
          </div>
      </div>
    <% end %>
  </div>

  <div class="wine-section-color-white">
    <h1>Mes vins blancs</h1>
    <% if @whitebottles.empty? %>
      <p class="no-results">Aucune bouteille de blanc ne correspond à votre recherche !</p>
    <% else %>
      <div class="wine-ribbon">
        <% @whitebottles.each do |whitebottle| %>
          <div class="white-wine-card">
          <%= render "cave_wine_card", bottle: whitebottle %>
        <% end %>
          </div>
      </div>
    <% end %>
  </div>

  <div class="wine-section-color-pink">
    <h1>Mes vins rosés</h1>
    <% if @pinkbottles.empty? %>
      <p class="no-results">Aucune bouteille de rosé ne correspond à votre recherche !</p>
    <% else %>
      <div class="wine-ribbon">
        <% @pinkbottles.each do |pinkbottle| %>
          <div class="pink-wine-card">
          <%= render "cave_wine_card", bottle: pinkbottle %>
        <% end %>
          </div>
      </div>
    <% end %>
  </div>
<% end %>



