<div class="cave-page-title">
  <h1 id="cave-name"><%= @cave.name %></h1>
</div>


<% bottle_count = @cave.bottles.sum(:quantity) %>

<% if !@options.any? && (@redbottles.empty? && @whitebottles.empty? && @pinkbottles.empty?) || bottle_count == 0 %>
  <div class="empty-cave">
    <div class="empty-cave-content">
      <p>Votre cave est vide</p>
      <%= link_to "Ajouter des bouteilles", cave_wines_path(@cave), class: 'add-bottle' %>
    </div>
  </div>

<% else %>
  <div class="add-wine-from-cave-show">
    <%= link_to "Ajouter des bouteilles", cave_wines_path(@cave), class:"add-bottle" %>
    <%= link_to "Afficher/cacher les filtres", '#', id:"filter-button", class:"add-bottle", data: {toggle:"collapse", target:"#collapseFilters"} %>
  </div>
  <div id='collapseFilters' class="collapse" >
  <%= render "cave_filter", cave: @cave %>
</div>
<div class="set-filters">
  <% if @options[:pairings] %>
    <div class="filter-section">
      <p>Plats</p>
      <div class="f-set"><p><%= Meal.find(params[:meal]).name.first(14) %></p></div>
    </div>
  <% end %>
  <% if @options[:appelations] %>
    <div class="filter-section">
      <p>Région</p>
      <div class="f-set"><p><%= Region.find(params[:region]).name.first(14) %></p></div>
    </div>
  <% end %>
  <% if @options[:appelation_id] && @options[:appelations] != ""%>
    <div class="filter-section">
      <p>Appelation</p>
      <div class="f-set"><%= Appelation.find(params[:appelation]).name.first(14) %></div>
    </div>
  <% end %>
</div>

  <% unless @redbottles.sum(:quantity) == 0 || @redbottles.empty? %>
    <div class="wine-section-color-red">
      <div class="title-wine-color">
        <h1>Mes vins rouges</h1>
      </div>
        <div class="wine-ribbon">
          <% @redbottles.each do |redbottle| %>
            <div class="red-wine-card">
              <%= render "cave_wine_card", bottle: redbottle %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>

  <% unless @whitebottles.sum(:quantity) == 0 || @whitebottles.empty? %>
    <div class="wine-section-color-white">
      <div class="title-wine-color">
        <h1>Mes vins blancs</h1>
      </div>
        <div class="wine-ribbon">
          <% @whitebottles.each do |whitebottle| %>
            <div class="white-wine-card">
              <%= render "cave_wine_card", bottle: whitebottle %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>

  <% unless @pinkbottles.sum(:quantity) == 0 || @pinkbottles.empty? %>
    <div class="wine-section-color-pink">
      <div class="title-wine-color">
        <h1>Mes vins rosés</h1>
      </div>
        <div class="wine-ribbon">
          <% @pinkbottles.each do |pinkbottle| %>
            <div class="pink-wine-card">
              <%= render "cave_wine_card", bottle: pinkbottle %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>

  <% if @pinkbottles.empty? && @whitebottles.empty? && @redbottles.empty? %>
    <p class="no-results">Aucune bouteille ne correspond à votre recherche !</p>
  <% end %>

<% end %>



