<div class="cave-page-title">
  <h1 id="cave-name"><%= @cave.name %></h1>
</div>
<div class="add-bottle-div">
  <%= link_to '<i class="fas fa-plus"></i>'.html_safe, cave_wines_path(@cave), class:"add-bottle-to-cave" %>
</div>

<% bottle_count = @cave.bottles.sum(:quantity) %>

<% if !@options.any? && (@redbottles.empty? && @whitebottles.empty? && @pinkbottles.empty?) || bottle_count == 0 %>
  <div class="empty-cave">
    <div class="empty-cave-content">
      <p>Votre cave est vide</p>
      <%= link_to "Ajouter des bouteilles", cave_wines_path(@cave), class: 'add-bottle' %>
    </div>
  </div>

<% else %>
  <div class="add-wine-from-cave-show">
    <%= link_to 'Filtres <i class="fas fa-chevron-down"></i>'.html_safe, '#', id:"filter-button", class:"filter-cave", data: {toggle:"collapse", target:"#collapseFilters"} %>
    <%= link_to '<i class="fas fa-undo-alt"></i>'.html_safe, cave_path(@cave), id: 'reset-filters' %>
  </div>
  <div id='collapseFilters' class="collapse" >
  <%= render "cave_filter", cave: @cave %>
</div>
<div class="set-filters">
  <% if @options[:pairings] %>
    <div class="filter-section">
      <p>Plats</p>
      <div class="f-set"><p><%= Meal.find(params[:meal]).name.first(14) %></p></div>
    </div>
  <% end %>
  <% if @options[:appelations] %>
    <div class="filter-section">
      <p>Région</p>
      <div class="f-set"><p><%= Region.find(params[:region]).name.first(14) %></p></div>
    </div>
  <% end %>
  <% if @options[:appelation_id] && @options[:appelations] != ""%>
    <div class="filter-section">
      <p>Appelation</p>
      <div class="f-set"><%= Appelation.find(params[:appelation]).name.first(14) %></div>
    </div>
  <% end %>
</div>

  <% unless @redbottles.sum(:quantity) == 0 || @redbottles.empty? %>
    <div class="wine-section-color-red">
      <div class="title-wine-color">
        <% red_count = @redbottles.sum(:quantity) %>
          <div class="red-bottle-count-cave-show">
            <p><%= red_count %><p>
          </div>
          <div class="bottle-count-title-cave-show">
            <p><%= 'bouteille'.pluralize(red_count) %> de vin rouge</p>
          </div>
      </div>
        <div class="wine-ribbon">
          <% @redbottles.each do |redbottle| %>
            <div class="red-wine-card">
              <%= render "cave_wine_card", bottle: redbottle %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>

  <% unless @whitebottles.sum(:quantity) == 0 || @whitebottles.empty? %>
    <div class="wine-section-color-white">
      <div class="title-wine-color">
        <% white_count = @whitebottles.sum(:quantity) %>
          <div class="white-bottle-count-cave-show">
          <p><%= white_count %></p>
          </div>
          <div class="bottle-count-title-cave-show">
            <p><%= 'bouteille'.pluralize(white_count) %> de vin blanc</p>
          </div>
        </div>
        <div class="wine-ribbon">
          <% @whitebottles.each do |whitebottle| %>
            <div class="white-wine-card">
              <%= render "cave_wine_card", bottle: whitebottle %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>

  <% unless @pinkbottles.sum(:quantity) == 0 || @pinkbottles.empty? %>
    <div class="wine-section-color-pink">
      <div class="title-wine-color">
         <% pink_count = @pinkbottles.sum(:quantity) %>
          <div class="pink-bottle-count-cave-show">
            <p><%= pink_count %></p>
          </div>
          <div class="bottle-count-title-cave-show">
            <p><%= 'bouteille'.pluralize(pink_count) %> de vin rosé</p>
          </div>
      </div>
        <div class="wine-ribbon">
          <% @pinkbottles.each do |pinkbottle| %>
            <div class="pink-wine-card">
              <%= render "cave_wine_card", bottle: pinkbottle %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>

  <% if @pinkbottles.empty? && @whitebottles.empty? && @redbottles.empty? %>
    <p class="no-results">Aucune bouteille ne correspond à votre recherche !</p>
  <% end %>

<% end %>



