
<div class="container-reviews">
  <% unless @reviews.empty?  %>

  <div class="review-page-title">
    <h1> Mes évaluations en attente </h1>
  </div>
</div>

  <div class="container-scroll">
    <div class="review-cards">
      <% @reviews.each do |review| %>
        <div class="review-card">
          <div class="review-wine-image">
            <%= cl_image_tag review.wine.photo.key, class: "review-wine-index-img" %>
          </div>
          <div class="review-wine-information-card">
            <div class="review-wine-information-title">
              <h1><%= review.wine.name %> <%= review.wine.millesime %></h1>
            </div>
            <div class="review-wine-information-like">
              <%= simple_form_for [review] do |f| %>
              <%= f.hidden_field :liked, value: true %>
              <%= f.hidden_field :id, value: review.id %>
              <%= button_tag type: "submit", class: "booking-validation-btn" do %>
              <i class="fas fa-thumbs-up liked"></i>
              <% end %>
              <% end %>
              <%= simple_form_for [review] do |f| %>
              <%= f.hidden_field :liked, value: false %>
              <%= f.hidden_field :id, value: review.id %>
              <%= button_tag type: "submit", class: "booking-validation-btn" do %>
              <i class="fas fa-thumbs-down"></i>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="history-category">
  <h1>Les vins que j'ai apprecié</h1>
</div>

<div class="liked-history-cards">
    <% @liked_reviews.each do |review| %>
    <div class="container-card">
      <div class="liked-history-wine-image">
          <%= cl_image_tag review.wine.photo.key, class: "history-wine-img" %>
      </div>
        <div class="liked-history-card">
        </div>
      <div class="liked-title">
        <div class="liked-history-wine-information-title">
          <h1><%= review.wine.name %> <%= review.wine.millesime %></h1>
        </div>
        </div>
      </div>
    <% end %>
  </div>

<div class="history-category">
  <h1>Les vins que j'ai moins apprecié</h1>
</div>

<div class="unliked-history-cards">
  <% @unliked_reviews.each do |review| %>
  <%= link_to wine_path(review.wine), class: "hoverlink" do %>
    <div class="container-card">
      <div class="unliked-history-wine-image">
        <%= cl_image_tag review.wine.photo.key, class: "history-wine-img" %>
      </div>
      <div class="unliked-history-card">
      </div>
      <div class="unliked-title">
      <div class="unliked-history-wine-information-title">
      <h1><%= review.wine.name %></h1>
      </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>




