
<div class="container-reviews">
  <div class="review-page-title">
    <h1> Mes évaluations en attente </h1>
  </div>
</div>

<% if @reviews.empty?  %>
  <div class="empty-review">
    <div class="empty-review-content">
      <p>Vous n'avez aucune évaluation en attente</p>
    </div>
  </div>

<% else %>
<div class="review-cards">
 <% @reviews.each do |review| %>
  <div class="review-card">
      <div class="review-wine-image">
        <%= cl_image_tag review.wine.photo.key, class: "review-wine-index-img" %>
      </div>
      <div class="review-wine-information-card">
        <div class="review-wine-information-title">
          <h1><%= review.wine.name %> <%= review.wine.millesime %></h1>
        </div>
        <div class="review-wine-information-like">
          <%= simple_form_for [review] do |f| %>
            <%= f.hidden_field :liked, value: true %>
            <%= f.hidden_field :id, value: review.id %>
            <%= button_tag type: "submit", class: "my-btn btn-card booking-validation-btn" do %>
              <i class="fas fa-thumbs-up liked"></i>
            <% end %>
          <% end %>
          <%= simple_form_for [review] do |f| %>
            <%= f.hidden_field :liked, value: false %>
            <%= f.hidden_field :id, value: review.id %>
            <%= button_tag type: "submit", class: "my-btn btn-card booking-validation-btn" do %>
              <i class="fas fa-thumbs-down"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>





