<h1>Les vins</h1>

<%= form_tag wines_path, class: "search-bar", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-wine",
    placeholder: "Trouver votre bouteille"
  %>
  <%= submit_tag "Chercher!", class: "my-btn search-btn", data: {turbolinks: "false"} %>
<% end %>

<% @wines.each do |wine| %>
<%= link_to wine_path(wine) do %>
  <div class="wine-index-card">

    <div class="wine-image">
      <%= cl_image_tag wine.photo.key, class: "wine-index-img" %>

    </div>

    <div class="wine-index-card-content">
      <div class="wine-index-title">
        <h1><strong><%= wine.name %> - <%= wine.millesime %></strong></h1>
      </div>
      <div class="wine-index-description">
        <h3> <strong>Region:</strong> <%= wine.appelation.region.name %> </h3>
        <h3> <strong>Appelation:</strong> <%= wine.appelation.name %> </h3>
      </div>

      <% now_diff = Time.now.year - wine.apogee_start %>
      <% apogee_duration = wine.apogee_end - wine.apogee_start + 1 %>
      <% percentage = (now_diff < 0) ? 0 : ((now_diff+1).to_f/apogee_duration)*100 %>

      <div class="wine-apogee">
      <h3><%= wine.apogee_start %></h3>
      <div class="progress">
        <div class="progress-bar" style="width:<%= percentage.to_i %>%;">
          <% if wine.apogee_end < Time.now.year %> <p class='a-depassee'>Apogée dépassée</p> <% end %>
        </div>
      </div>
      <h3><%= wine.apogee_end %></h3>
    </div>
    </div>

  </div>
<% end %>
<% end %>
