  <div class="wine-index-page-title">
    <h1>Tous nos vins</h1>
  </div>

<%= form_tag @cave.present? ? cave_wines_path : wines_path, class: "search-bar", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-wine",
    placeholder: "Trouver votre bouteille"
  %>
  <%= submit_tag "Chercher!", class: "my-btn search-btn", data: {turbolinks: "false"} %>
<% end %>

<% if params[:query].present? && @wines.empty? %>
  <% @results = Wine.all %>
  <p class="no-results">Aucun vin ne correspond à votre recherche !</p>
<% else %>
  <% @results = @wines %>
<% end %>

<% @results.each do |wine| %>

<%= link_to @cave.present? ? cave_wine_path(@cave, wine) : wine_path(wine), class: "wine-index-card-link" do %>

  <%= render "card", wine: wine %>
<% end %>
<% end %>
